@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

  @await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body class="index-page">
    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">

            <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

            <div class="container d-flex flex-column align-items-center">
                <h2 data-aos="fade-up" data-aos-delay="100">PLANLA. BAŞLAT. BÜYÜ.</h2>
                <p data-aos="fade-up" data-aos-delay="200">Modern, hızlı ve kullanıcı dostu web siteleri geliştiren uzman bir ekibiz.</p>
                <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                    <a href="" class="btn-get-started">Hadi Başlayalım</a>
                    <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Videomuzu İzleyin</span></a>
                </div>
            </div>

        </section><!-- /Hero Section -->
        <!-- About Section -->
        @await Component.InvokeAsync("_DefaultAboutComponentPartial")
        <!-- /About Section -->
        <!-- Stats Section -->
        <section id="stats" class="stats section light-background">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Mutlu Müşteriler</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Projeler</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-headset color-green flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Destek Saatleri</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-people color-pink flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Ekibimizdeki Kişi Sayısı</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>

        </section><!-- /Stats Section -->
        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Servisler</h2>
                <p>Öne Çıkan Hizmetler</p>
                <br />
                <br />

            </div>
            <!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-5">

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="service-item">
                            <div class="img">
                                <img src="assets/img/services-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-activity"></i>
                                </div>
                                <a href="service-details.html" class="stretched-link">
                                    <h3>Web Tasarım Hizmeti</h3>
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="service-item">
                            <div class="img">
                                <img src="assets/img/services-2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-broadcast"></i>
                                </div>
                                <a href="service-details.html" class="stretched-link">
                                    <h3>Ürün Yönetimi Hizmeti</h3>
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                        <div class="service-item">
                            <div class="img">
                                <img src="assets/img/services-3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-easel"></i>
                                </div>
                                <a href="service-details.html" class="stretched-link">
                                    <h3>Grafik Tasarım Hizmeti</h3>
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services Section -->
        <!-- Clients Section -->
        <section id="clients" class="clients section light-background">

            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                        <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                </div>

            </div>

        </section><!-- /Clients Section -->
        <!-- Features Section -->
        <section id="features" class="features section">

            <div class="container">

                <ul class="nav nav-tabs row  d-flex" data-aos="fade-up" data-aos-delay="100">
                    <li class="nav-item col-3">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                            <i class="bi bi-binoculars"></i>
                            <h4 class="d-none d-lg-block">Vizyonumuz</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                            <i class="bi bi-box-seam"></i>
                            <h4 class="d-none d-lg-block">Hakkımızda</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                            <i class="bi bi-brightness-high"></i>
                            <h4 class="d-none d-lg-block">Misyonumuz</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-4">
                            <i class="bi bi-command"></i>
                            <h4 class="d-none d-lg-block">Değerlerimiz</h4>
                        </a>
                    </li>
                </ul><!-- End Tab Nav -->

                <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                    <div class="tab-pane fade active show" id="features-tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Medya ve eğlence sektöründe dünya çapında etkili profesyoneller yetiştirerek yaratıcılığı, inovasyonu ve kaliteyi en üst seviyeye taşımak.</h3>

                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/working-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>
                                    Biz, Acunmedya Akademi olarak, medya ve eğlence sektörüne yön veren profesyoneller yetiştirmeyi amaçlıyoruz.
                                </h3>
                                <p>
                                    Deneyimli eğitmenlerimiz ve yenilikçi eğitim modellerimizle, öğrencilerimize sektörde fark yaratacak bilgi ve beceriler kazandırıyoruz.
                                </p>
                                <p class="fst-italic">
                                    Medya dünyası hızla değişiyor, biz de bu değişime öncülük etmek için buradayız.
                                </p>
                                <ul>


                                    <li><i class="bi bi-check2-all"></i> <span>Televizyon, dijital medya, prodüksiyon ve içerik yaratımı konularında uzmanlaşmak isteyen herkes için en iyi eğitim fırsatlarını sunuyoruz.</span> </li>
                                    <li><i class="bi bi-check2-all"></i> <span>Gerçek proje deneyimleriyle desteklenen eğitimlerimiz sayesinde, öğrencilerimiz teoriyi pratiğe dökerek sektöre güçlü bir giriş yapıyor.</span></li>

                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/working-2.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Öğrencilerimizi sektörün liderleriyle buluşturarak, gerçek dünya deneyimiyle desteklenen eğitimler sunmak ve geleceğin medya profesyonellerini yetiştirmek.</h3>

                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/working-3.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-4">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>
                                    💡 Yaratıcılık & Yenilikçilik – Her zaman farklı ve etkileyici içerikler üretmeye odaklanıyoruz.
                                    📚 Eğitimde Mükemmellik – Alanında uzman eğitmenlerle kaliteli eğitim programları oluşturuyoruz.
                                    🤝 Bağlılık & Güven – Öğrencilerimizin kariyer yolculuğunda güvenilir bir rehber oluyoruz.
                                    🚀 Gerçek Deneyim – Teorik bilginin yanında pratik uygulamalarla öğrenmeyi destekliyoruz.
                                </h3>

                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/working-4.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!-- End Tab Content Item -->

                </div>

            </div>

        </section><!-- /Features Section -->
        <!-- Services 2 Section -->
        <section id="services-2" class="services-2 section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Servisler</h2>
                <p>Hizmetlerimize Göz Atın</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item d-flex position-relative h-100">
                            <i class="bi bi-briefcase icon flex-shrink-0"></i>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">📽️ Profesyonel Medya Eğitim</a></h4>
                                <p class="description">Televizyon, dijital medya ve prodüksiyon alanında uzmanlaşmak isteyenler için yenilikçi eğitimler sunuyoruz. Uygulamalı dersler ve sektör profesyonelleriyle birebir çalışma fırsatıyla, öğrencilerimizi iş dünyasına hazırlıyoruz.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item d-flex position-relative h-100">
                            <i class="bi bi-card-checklist icon flex-shrink-0"></i>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">🎬 İçerik Üretimi ve Prodüksiyo</a></h4>
                                <p class="description">Reklam filmleri, belgeseller, TV programları ve dijital içerikler için yaratıcı prodüksiyon hizmetleri sağlıyoruz. Ekibimiz, en yeni teknolojilerle kaliteli projeler hayata geçiriyor.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item d-flex position-relative h-100">
                            <i class="bi bi-bar-chart icon flex-shrink-0"></i>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">📡 Dijital Medya ve Sosyal Medya Yönetim</a></h4>
                                <p class="description">Markanızı dijital dünyada güçlendirmek için etkili stratejiler oluşturuyoruz. Sosyal medya yönetimi, içerik planlaması ve dijital pazarlama hizmetlerimizle hedef kitlenize ulaşmanızı sağlıyoruz.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item d-flex position-relative h-100">
                            <i class="bi bi-binoculars icon flex-shrink-0"></i>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">🎭 Etkinlik ve Organizasyon Yönetimi</a></h4>
                                <p class="description">Konferanslar, lansmanlar ve sektörel etkinlikler için profesyonel organizasyon hizmetleri sunuyoruz. Baştan sona kusursuz bir deneyim yaşatmak için her detayı titizlikle planlıyoruz.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item d-flex position-relative h-100">
                            <i class="bi bi-brightness-high icon flex-shrink-0"></i>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">🔎 Sektör Danışmanlığı</a></h4>
                                <p class="description">
                                    Medya sektöründe kariyer yapmak isteyenlere rehberlik ediyor, stratejik danışmanlık hizmetleriyle markaları ve bireyleri başarıya taşıyoruz.
                                    Bizimle çalışarak medya sektöründe fark yaratabilir, uzman kadromuzla hayallerinizi gerçeğe dönüştürebilirsiniz! 🚀
                                </p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item d-flex position-relative h-100">
                            <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">💻 Web Geliştirme ve Tasarım</a></h4>
                                <p class="description">
                                    Dijital dünyada fark yaratmak isteyenler için modern, hızlı ve kullanıcı dostu web çözümleri sunuyoruz. Markanızın ihtiyacına uygun olarak özelleştirilmiş web tasarımı, güçlü altyapı ve optimize edilmiş performans sağlıyoruz.
                                </p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services 2 Section -->
        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials section dark-background">

            <img src="assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Gökhan Mutlay</h3>
                                <h4>Acunmedya Akademi</h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Acunmedya Akademi ile çalışmak, gerçekten ayrıcalıklı bir deneyimdi. Ekibin profesyonelliği, sundukları kaliteli eğitimler ve öğrencileri sektöre hazırlama konusundaki özverileri takdire şayan. Aldığım eğitim sayesinde kariyerimde büyük bir adım attım!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Esra Çufadaroğlu</h3>
                                <h4>Acunmedya Akademi</h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Bu akademi, sadece bir eğitim kurumu değil; öğrencilerine ilham veren bir merkez! Eğitim içerikleri güncel, eğitmenler sektörde uzman ve öğrenme ortamı çok dinamik. Burada edindiğim bilgi ve beceriler sayesinde medya sektöründe kendime güvenerek ilerliyorum.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Murat Yücedağ</h3>
                                <h4>Yazılım Mühendisi,Eğitmen</h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Teorik eğitimlerin yanında gerçek projelerde çalışma fırsatı bulduğum için Acunmedya Akademi'yi tercih ettim. Eğitim süresince profesyonel bağlantılar kurarak iş dünyasına güçlü bir giriş yaptım. Bu akademi, geleceğin profesyonellerini yetiştirmekte gerçekten fark yaratıyor!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Samet Furkan Dağ</h3>
                                <h4>CEO,FOCACCİA</h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Medya ve eğlence sektöründe kariyer yapmayı hedefliyordum, ancak nereden başlamam gerektiğini bilmiyordum. Acunmedya Akademi, bana sektörel bilgi, pratik beceriler ve iş dünyasında güçlü bir ağ kazandırdı. Buradaki eğitim süreci benim için büyük bir avantaj oldu!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>Harun Aksu</h3>
                                <h4>Web Depeloper</h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Acunmedya Akademi'de aldığım eğitim sayesinde sektörde güçlü bir adım attım. Burada sadece teorik bilgiler öğrenmekle kalmadım, gerçek projelerde çalışarak deneyim kazandım. Eğitmenler gerçekten işin uzmanları ve her adımda destek oldular. Bu akademi sayesinde hayallerimi gerçeğe dönüştürdüm!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Testimonials Section -->
        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Projelerimiz</h2>
                <p>Yaratıcı çalışmalarımıza göz atın</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                    <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active">Tümü</li>
                        <li data-filter=".filter-app">Mobil Uygulamalar</li>
                        <li data-filter=".filter-product">Öne Çıkan Ürünler</li>
                        <li data-filter=".filter-web">Web Projeleri</li>
                        <li data-filter=".filter-video">Profesyonel Video Kurguları</li>
                    </ul><!-- End Portfolio Filters -->

                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                        <!-- Portfolio Item - Mobil Uygulamalar -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                    <img src="~/dewi-1.0.0/assets/img/indir.jpg" class="img-fluid" alt="Mobil Uygulama">
                                </a>
                                <div class="portfolio-info">
                                    <h4>Özel Mobil Uygulama</h4>
                                    <p>Modern ve kullanıcı dostu mobil çözümler</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <!-- Portfolio Item - Ürünler -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <a href="assets/img/portfolio/product-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                    <img src="~/dewi-1.0.0/assets/img/oip.jpg" class="img-fluid" alt="Ürün Tasarımı">
                                </a>
                                <div class="portfolio-info">
                                    <h4>Öne Çıkan Ürün</h4>
                                    <p>Kaliteli ve işlevsel tasarımlar</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <!-- Portfolio Item - Web Projeleri -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web">
                            <div class="portfolio-content h-100">
                                <a href="assets/img/portfolio/web-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                    <img src="~/dewi-1.0.0/assets/img/1.jpg" class="img-fluid" alt="Web Geliştirme">
                                </a>
                                <div class="portfolio-info">
                                    <h4>Özel Tasarım Web Sitesi</h4>
                                    <p>Modern ve responsive web çözümleri</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <!-- Portfolio Item - Video Kurgu -->
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-video">
                            <div class="portfolio-content h-100">
                                <a href="assets/img/portfolio/video-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                                    <img src="~/dewi-1.0.0/assets/img/oip (4).jpg" class="img-fluid" alt="Video Kurgu">
                                </a>
                                <div class="portfolio-info">
                                    <h4>Profesyonel Video Kurgu</h4>
                                    <p>Yüksek kaliteli prodüksiyon çözümleri</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                    </div><!-- End Portfolio Container -->

                </div><!-- End Isotope Layout -->

            </div><!-- End Container -->

        </section><!-- End Portfolio Section -->
        <!-- Team Section -->
        <section id="team" class="team section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Takımımız</h2>
                <p>Ekibimizi Tanıyın</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-5">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Hamza Özalp</h4>
                                <span>Yazılım Geliştirici</span>
                                <div class="social">
                                    <a href="https://x.com/Hamzaaozalpp"><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/hamzaaozalpp/"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Samet Furkan Dağ</h4>
                                <span>Bilgisayar Mühendisi</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/sametfurkandag/"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                            <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Abdullah Ördek</h4>
                                <span>Bilgisayar Mühendisi</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/abdullah-ordek-b51281243/"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div>

            </div>

        </section><!-- /Team Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>İletişim</h2>
                <p>
                    Sorularınız mı var? Size yardımcı olmaktan mutluluk duyarız!
                    <figure>

                        <figcaption>İletişim Adreslerimiz</figcaption>
                    </figure>
                </p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">
                    <div class="col-lg-6 ">
                        <div class="row gy-4">

                            <div class="col-lg-12">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bi bi-geo-alt"></i>
                                    <h3>
                                        📌Adresimiz
                                    </h3>
                                    <p>
                                        Ofisimiz İstanbul'un kalbinde! Bizi yerimizde ziyaret edebilirsiniz.

                                    </p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="col-md-6">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bi bi-telephone"></i>
                                    <h3>
                                        Sorularınızı yanıtlamak için buradayız! Hemen bizi arayın.

                                    </h3>
                                    <p>+901234567890</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="col-md-6">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bi bi-envelope"></i>
                                    <h3>
                                        İş birlikleri ve talepleriniz için bize e-posta gönderin. En kısa sürede yanıt veriyoruz!
                                    </h3>
                                    <p>hamzaozalp@yaani.com</p>
                                </div>
                            </div><!-- End Info Item -->

                        </div>
                    </div>

                    @await Component.InvokeAsync("_DefaultContactViewComponentPartial")
                </div>

            </div>

        </section>
    </main>

    <footer id="footer" class="footer dark-background">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span class="sitename">Acunmedya Akademi</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>Turgut Özal Millet Caddesi</p>
                        <p>İstanbul-Fatih</p>
                        <p class="mt-3"><strong>Telefon:</strong> <span>+901234567890</span></p>
                        <p><strong>Email:</strong> <span>hamzaozalp@yaani.com</span></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href="https://x.com/Hamzaaozalpp"><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/hamzaaozalpp/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Faydalı Bağlantılar</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Ana Sayfa</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Hakkımzda</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Hizmetler</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Hizmet Şartları</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Gizlilik Politikası</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Servis ve Hizmetlerimiz</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Tasarım</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Web Geliştirme</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Ürün Yönetimi</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing(Pazarlama)</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Grafik Tasarım</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>Haber Bültenimiz</h4>
                    <p>Bültenimize abone olun ve ürünlerimiz ve hizmetlerimizle ilgili en son haberleri alın.</p>
                    <form action="forms/newsletter.php" method="post" class="php-email-form">
                        <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Abone Ol"></div>
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Abonelik talebiniz gönderildi.Teşekkürler!</div>
                    </form>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Acunmedya Akademi</strong> <span>Tüm Hakları Saklıdır.</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>ThemeWagon
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    @await Component.InvokeAsync("_DefaultScriptsComponentPartial")


</body>

</html>