@model List<AcunmedyaAkademiProject3.Entities.About>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama 1</th>
            <th>Açıklama 2</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AboutId</td>
                <td>@item.Title</td>
                <td>@item.Description1</td>
                <td>@item.Description2</td>
                <td><a href="/Admin/About/DeleteAbout/@item.AboutId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Admin/About/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
        <a href="/Admin/About/CreateAbout" class="btn btn-primary">Yeni Hakkında Yazısı</a>

    </table>
</div>
